extends layout

block content
    h1 #{title}: #{book.title}
    p= book.title + ' - ' + book.author.name
  
    if book_instances && book_instances.length 
        p #[strong Delete all book instances before attempt to delete this book]

        div(style='margin-left:20px;margin-top:20px')
            h4 Book instances
            if book_instances.length > 0
                dl
                    each instance in book_instances
                        dt 
                            a(href='/catalog/bookinstance/'+ instance._id) #{instance._id}
                        dd  
                            if instance.status == 'Available'
                                p #[strong Imprint:] #{instance.imprint} - #[span.text-success #{instance.status}]
                            else if instance.status == 'Loaned'
                                p #[strong Imprint:] #{instance.imprint} - #[span.text-warning #{instance.status}]
                            else
                                p #[strong Imprint:] #{instance.imprint} - #[span.text-danger #{instance.status}]
            else
                p There are no book instances

    else
        p Do you really want to delete this Book?

        form(method='POST' action='')
            div.form-group
            input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

            button.btn.btn-primary(type='submit') Delete